footer.site-footer
  .container
    .row
      .col-lg-5.mx-lg-auto.col-md-8.col-10
        h1.text-white(data-aos='fade-up' data-aos-delay='100')
          strong Making the lives of People properous and better
          |  .
      .col-lg-3.col-md-6.col-12(data-aos='fade-up' data-aos-delay='200')
        h4.my-4 Contact Info
        p.mb-1
          i.fa.fa-phone.mr-2.footer-icon
          |               0191-2572733
        p
          a(href='#')
            i.fa.fa-envelope.mr-2.footer-icon
            |                 info@jkeage.com
      .col-lg-3.col-md-6.col-12(data-aos='fade-up' data-aos-delay='300')
        h4.my-4 Address
        p.mb-1
          i.fa.fa-home.mr-2.footer-icon
          |               Room No. 173, 1st Floor
          |   Civil Secretariat Srinagar, 190001
      .col-lg-4.mx-lg-auto.text-center.col-md-8.col-12(data-aos='fade-up' data-aos-delay='400')
        p.copyright-text
          | Copyright &copy; 2020 Sheharyar and Zahid
          br
      .col-lg-4.mx-lg-auto.col-md-6.col-12(data-aos='fade-up' data-aos-delay='500')
        ul.footer-link
          li
            a(href='#') Work with us
          li
            a(href='#') Privacy
      .col-lg-3.mx-lg-auto.col-md-6.col-12(data-aos='fade-up' data-aos-delay='600')
        ul.social-icon
          li
            a.fa.fa-instagram(href='#')
          li
            a.fa.fa-twitter(href='#')
          li
            a.fa.fa-dribbble(href='#')
          li
            a.fa.fa-behance(href='#')