extends main 

block content
		head
			meta(charset='utf-8')
			title Login
			link(rel='stylesheet' href='/css/commonfile.css')
		#bg
		-console.log('Error was called', msg)
		section 
			.container
				h2 Uh oh! Something went wrong!   
					h2 😢 🤯
				h1= msg