extends main

block content
  
  // BLOG
  section.blog.section-padding
    .container
      .row
        .col-lg-12.col-12.py-5.mt-5.mb-3.text-center
          h1.mb-4(data-aos='fade-up') Transforming Urban J&amp;K
        .col-lg-7.col-md-7.col-12.mb-4
          .blog-header(data-aos='fade-up' data-aos-delay='100')
            img.img-fluid(src='img/blog/blog-header-image.jpg' alt='blog header')
            .blog-header-info
              h3
                a(href='blog-detail.html')
                  | Public outreach in townsService delivery at doorsteps Strengthening grassroot democracy
        .col-lg-5.col-md-5.col-12.mb-4
          .blog-sidebar.d-flex.justify-content-center.align-items-center(data-aos='fade-up' data-aos-delay='200')
            img.img-fluid(src='img/blog/blog-sidebar-image.jpg' alt='blog')
            .blog-info
              h3 Housing and Urban Development Department
          .blog-sidebar.py-4.d-flex.justify-content-center.align-items-center(data-aos='fade-up' data-aos-delay='300')
            img.img-fluid(src='img/blog/blog-sidebar-image01.jpg' alt='blog')
            .blog-info
              h3 Transforming J&amp;K
          .blog-sidebar.d-flex.justify-content-center.align-items-center(data-aos='fade-up' data-aos-delay='200')
            img.img-fluid(src='img/blog/blog-sidebar-image02.jpg' alt='blog')
            .blog-info
              h3 Goverment of J&amp;K
              h3
                a(href='blog-detail.html') The Mistakes I Made As a Coding Beginner
        .col-lg-5.ml-auto.mt-5.pt-5.col-md-6.col-12
          img.img-fluid(src='img/abhishaik.jpg' data-aos='fade-up' data-aos-delay='100' alt='newsletter')
        .col-lg-5.mr-auto.mt-5.pt-5.col-md-6.col-12.newsletter-form
          h4(data-aos='fade-up' data-aos-delay='200') My Town My Pride 2.0
          p.text-left.text-wrap
            | Subsidiarity is an essential pillar of democratic organization of societies. It envisages that decisions
            | which affect the lives of the people should be made at a level most proximate to them unless, complex
            | issues requiring higher level expertise and resources are involved. Urban local bodies and Panchayats
            | are the tier of governance closest to the people. The 73rd and 74th constitutional amendments gave
            | these bodies a constitutional status. However, the gap between the vision of these amendments and
            | the achievement so far is required to be reduced as quickly as possible. Towards achieving this vision,
            | the Government of Jammu and Kashmir has taken a series of steps over the last three years. After con&#x2;stitution of the urban local bodies and panchayats, their strengthening through delegation of financial
            | powers, training and capacity building has also been done to enable them to function as effective insti&#x2;tutions of self-governance. For urban areas, a decision has been taken to significantly strengthen the
            | ULBs further by entrusting yet more functions, funds and functionaries to them. This will be a transfor&#x2;mative change in the role of these institutions in the life of our urban citizens